/* Set up FlexBox */
* {
    box-sizing: border-box;
    
}
/* Setup color scheme */
:root {
    --color-lightest:   #E4F1F6;
    --color-med-light:  #67AFCB;
    --color-med:        #347B98;
    --color-med-dark:   #1A3E4C;
    --color-darkest:    #092834;
}

*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.header {
    padding: 70px;
    text-align: center;
    background: var(--color-med-light);
}

.header h1 {
    color: var(--color-darkest);
    font-size: 2.5em;
}

.header p {
    color: var(--color-med-dark);
    font-size: 1.5em;
}

/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: var(--color-darkest);
}
/* Style the links in the navbar */
.navbar a {
    float: left;
    display: block;
    color: var(--color-med-light);
    text-align: center;
    padding: .9em 1.1em;
    text-decoration: none;
}
/* Float the navbar div link with the class .right to the right */
.navbar a.right {
    float: right;
}
/* Navbar link hover events */
.navbar a:hover {
    background-color: var(--color-lightest);
    color: var(--color-darkest)
}
/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: var(--color-lightest);
    padding: .8em;
}

.main {
    flex: 70%;
    padding: .8em;
}

.footer {
    padding: 1em; 
    text-align: center; 
    background-color: var(--color-darkest);
    color: var(--color-med-light);
}
@media screen and (max-width: 700px) {
    .row { 
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

